{
    // https://github.com/jest-community/eslint-plugin-jest#shareable-configurations
    // https://github.com/jest-community/eslint-plugin-jest#usage
    "extends": ["@joaopalmeiro/eslint-config-react", "plugin:jest/all"]
}
